table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0 10px !important;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 15px 0 0 !important;
}

table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
    height: 40px !important;
}

table.md-table thead.md-head>tr.md-row {
    height: 30px !important;
    background: #E4E4E4;
}

md-autocomplete > md-autocomplete-wrap > md-progress-linear { display: none; }
md-autocomplete > md-autocomplete-wrap > button { display: none; }

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.ng-hide {
    display: none !important;
}

.md-subheader ._md-subheader-inner {
    padding: 5px 16px;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

input {
    color: white !important;
    padding-top: 20px;
}

label {
    display: none;
}

.loader {
    margin-top: 200px;
}

md-list, .md-subheader {
    background-color: rgb(255, 255, 255);
}

md-list-item {
    height: 120px !important;
}

md-list-item md-table-container {
    width: 50% !important;
}

tr:hover, md-list-item:hover {
    background-color: rgba(228, 188, 133, 0.1);
    cursor: pointer;
}

thead {
    display: none;
}

md-input-container {
    box-sizing: border-box;
    margin-top: 40px;
}
.md-display-3 {
    color: rgb(68, 68, 68);
}

#mapid { height: 180px; }

ng-map {
    height: 120px;
    position: relative;
    display: inline;
    margin-top: 30px;
}

ng-map a {
    display: none;
}

.no-padding {
    padding: 0 !important;
}

.animated.slow {
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
}

table.animationDelay tbody tr:first-child, table.animationDelay tbody tr:nth-child(9) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s !important;
    -moz-animation-delay: 0.2s;
}

table.animationDelay tbody tr:nth-child(2), table.animationDelay tbody tr:nth-child(10) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s !important;
    -moz-animation-delay: 0.4s;
}

table.animationDelay tbody tr:nth-child(3), table.animationDelay tbody tr:nth-child(11) {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s !important;
    -moz-animation-delay: 0.6s;
}

table.animationDelay tbody tr:nth-child(4), table.animationDelay tbody tr:nth-child(12) {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s !important;
    -moz-animation-delay: 0.8s;
}

table.animationDelay tbody tr:nth-child(5), table.animationDelay tbody tr:nth-child(13) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s;
}

table.animationDelay tbody tr:nth-child(6), table.animationDelay tbody tr:nth-child(14) {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s;
}

table.animationDelay tbody tr:nth-child(7), table.animationDelay tbody tr:nth-child(15) {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s !important;
    -moz-animation-delay: 1.4s;
}

table.animationDelay tbody tr:nth-child(8), table.animationDelay tbody tr:nth-child(16) {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s !important;
    -moz-animation-delay: 1.6s;
}