html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  overflow: hidden;
  background-color: #FFFFFF;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.no-padding {
    padding: 0 !important;
}

.hidden {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

h1 {
    margin: 0px;
    padding: 0;
    text-align: center;
    font-weight: 100;
}

h1:after {
    content: ' ';
    width: 20px;
    height: 20px;
    background: url('../assets/IconTemplate@2x.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    } to {
          -ms-transform: rotate(360deg);
      }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    } to {
          -moz-transform: rotate(360deg);
      }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    } to {
          -webkit-transform: rotate(360deg);
      }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}

.drop {
    /*background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);*/
    background-color: rgba(255,255,255,0.2);
    width:1px;
    height:50px;
    position: absolute;
    bottom:200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
    to {margin-top:900px;}
}
@-moz-keyframes fall {
    to {margin-top:900px;}
}

.spinner {
    left: 50%;
    margin-left: -35px;
    width: 70px;
    text-align: center;
    position: absolute;
    bottom: 5px;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

#main {
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;
    background-color: #CCCCCC;
    color: #ffffff;
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#main .thunder {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    position: relative;
    display: block;
    top: 0;
    animation-name: thunder;
    animation-delay: 5s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes thunder {
    1%   {background-color: rgba(255,255,255,1);}
    30%  {background-color: rgba(255,255,255,0);}
    100% {background-color: rgba(255,255,255,0);}
}

#main .content {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 30%;
    z-index: 5;
    margin-top: -30px;
    text-align: center;
}

#main .content hr {
    width: 24px;
    border: none;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

#main .temp {
    font-size: 48px;
    margin-left: 15px;
}

#main .temp-note {
    font-size: 18px;
    color: rgba(255,255,255,0.5);
}

#main .header {
    z-index: 5;
}

#main .clock {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: 12px;
}

#main .settings {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 10px;
    position: absolute;
}

#main .settings img:hover, #main .settings:hover {
    cursor: pointer;
}

#main .actual-icon {
    width: 80px;
    height: 80px;
    top: 14%;
    left: 8%;
    position: absolute;
    z-index: 5;
}

#details {
    width: 100%;
    height: 160px;
    color: #999999;
    z-index: 5;
}

#details:hover {
    cursor: pointer;
}

#details .date, #details .location {
    width: 50%;
    font-size: 12px;
    float: left;
    padding: 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;;
}

#details .header::after {
    content: "";
    clear: both;
    display: block;
}

#details .forecast {
    width: 100%;
}

#details .forecast::after {
    content: "";
    clear: both;
    display: block;
}

#details .forecast-item {
    width: 25%;
    height: auto;
    float: left;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-left: 1px solid #f9f9f9;
}

#details .forecast-item div {
    width: 100%;
}

#details .forecast-item .date {
    font-size: 10px;
}

#details .forecast-item .icon svg {
    width: 59px;
    height: 59px;
}

#details .forecast-item .icon svg path {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#details .forecast-item .temp {
    font-size: 14px;
}

#details .hourly {
    margin-top: 10px;
}

#settings {
    z-index: 5;
    width: 100%;
    height: 0px;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#settings h1:before {
    width: 40px;
    height: 40px;
    content: ' ';
    background: url('../assets/app.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    margin-left: -50px;
    margin-top: -5px;
}

#settings .content {
    display: none;
    padding: 10px;
    box-sizing: border-box;
}

#settings .form-item {
    padding: 12px 0;
    min-height: 30px;
    box-sizing: border-box;
}

#settings .form-item::after {
    content: "";
    clear: both;
    display: block;
}

#settings .form-item.small {
    padding: 5px 0;
}

#settings .form-item label, #settings .form-item .label {
    display: block;
    color: #999999;
    font-size: 12px;
}

#settings .form-item .label {
    display: inline-block;
    padding-right: 5px;
}

#settings .form-item .fit {
    margin-top: -4px;
}

#settings .form-item label.inline {
    color: #000000;
    font-size: 18px;
    display: inline-block;
    padding-left: 10px;
}

#settings .form-item input[type="text"] {
     display: block;
     width: 100%;
     padding: 5px;
     font-size: 16px;
     border: none;
     border-bottom: 1px solid #999999;
     box-sizing: border-box;
 }

#settings .form-item input[type="text"]:focus {
    border-bottom: 1px solid #000;
    outline: 0;
}

#settings .form-item input[type="text"][name="city"] {
    padding-right: 20px;
}

#settings .form-item label.fav {
    margin-top: -22px;
    position: absolute;
    right: 5px;
    font-size: 12px;
}

#settings .form-item input[type="radio"] {
    margin-left: 15px;
}

#settings .form-item span.help, #settings .footer  {
    width: 100%;
    font-size: 10px;
    color: #999999;
}

#settings .form-item span.help a, #settings .footer a {
    color: #000;
}

input[type="checkbox"], input[type="radio"] {
    display:none;
}
input[type="checkbox"] + span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../assets/checkboxes.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + span {
    background:url(../assets/checkboxes.png) -20px top no-repeat;
}
input[type="radio"] + span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../assets/checkboxes.png) -40px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + span {
    background:url(../assets/checkboxes.png) -60px top no-repeat;
}

input[type="checkbox"][name="favorite-city"] + span {
    background:url(../assets/checkboxes.png) -80px top no-repeat;
}
input[type="checkbox"][name="favorite-city"]:checked + span {
    background:url(../assets/checkboxes.png) -100px top no-repeat;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

#settings button {
    width: 49%;
    text-align: center;
    border: 1px solid #999999;
    color: #000;
    padding: 3px;
    background: #FFF;
    box-sizing: border-box;
    font-size: 16px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#settings button:hover {
    cursor: pointer;
    border: 1px solid #000;
}

#settings button.apply {
    background-color: #80BBB2;
    color: #FFFFFF;
}

#settings .footer {
    text-align: center;
}
@keyframes pulse {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin-left: -20px;
    margin-top: -12px;
    -webkit-transform: rotate(0deg) scale(.3);
    -moz-transform: rotate(0deg) scale(.3);
    -o-transform: rotate(0deg) scale(.3);
    transform: rotate(0deg) scale(.3);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon {
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 25px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

body {
    margin: 0;
}

.snow{
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 500px, 100px 200px, -100px 150px;}
}

#chartjs-tooltip {
    opacity: 0;
    position: absolute;
    background: rgba(255,255,255,0);
    color: #999999;
    text-align: center;
    width: 95px;
    padding: 3px 11px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#chartjs-tooltip::after {
    content: "";
    clear: both;
    display: block;
}

#chartjs-tooltip b {
    color: #999999;
    font-size: 18px;
}
#chartjs-tooltip > img {
    height: 2em;
}
#chartjs-tooltip .icon {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -7px;
    position: relative;

}
#chartjs-tooltip svg {
    width: 35px;
    height: 35px;
}